%center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%column-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
