//colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$very-dark-grey: rgb(53, 53, 53);
$dark-grey: rgb(234, 234, 234);
$grey: rgb(126, 126, 126);
$light-grey: rgb(246, 246, 246);
$shadow: rgb(189, 189, 189);
$light-green: rgb(153, 226, 208);
$dark-green: rgb(0, 135, 102);
